{% extends 'base.html.twig' %}

{% block title %}Ajouter des timbres{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/addStamps.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
{% endblock %}

{% block body %}
    <main>
        <h1 class="addNews__title">Ajouter des timbres</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Submit</button>
        {{ form_end(form) }}
    </main>
{% endblock %}